################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library
/Assets/3rdParty
/Assets/Unity
/.vs/SurvivalGame/v15
/Temp
/http___conzitool.cgsociety.org_art_low-cinema-poly-4d-mountain-landscape-nature-3d-1224885 _ lo-po _ Pinterest _ Low poly, 3d and Mountain landscape_files
/ISLA on Behance _ Poly _ Pinterest _ Behance, Low poly and 3d_files
